body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 85%;
  margin: auto;
  top: 50px;
  position: relative;
}

/* prevent background scrolling when modal is open */
body.modal-open {
  overflow: hidden;
}

.modal-body {
  max-height: 60vh;
  overflow-y: scroll;
}

.Toastify__toast {
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  width: max-content;
  margin: auto;
  margin-bottom: 10px;
}

.Toastify__toast-container  {
  width: 100%;
}

.Toastify__toast-container--top-center {
    left: 0 !important;
    margin-left: 0 !important;
}

.Toastify__toast--success {
  background: #28a745 !important;
}

.Toastify__close-button {
  left: 10px;
  position: relative;
}